NEXT_PUBLIC_SITE_URL=https://clement-daguenet.fr
NEXT_PUBLIC_PRO_URL=https://clement-daguenet.fr
NEXT_PUBLIC_GAMING_URL=https://woxayz.fr
RESEND_API_KEY=
CONTACT_TO_EMAIL=contact@clement-daguenet.fr
CONTACT_FROM_EMAIL=contact@clement-daguenet.fr
ADMIN_PASSWORD=change-me
ADMIN_SECRET=change-me-long-random
